<% provide(:title, 'Contact') %>
<h1>Please let <a <a href="mailto:richardsonjm@gmail.com">me</a> know if you have any quesitons or recommendations</h1>
<p>Or better yet, fork this repo on <a href="https://github.com/richardsonjm/forty-sixer-on-rails">github</a></p>