<% provide(:title, 'Home') %>

<div class="jumbotron wrapper">
  <h1>ADK 46-R Tracker</h1>
  <p>Track your progress towards completing your ADK 46-R</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/login">Log-in</a></p>
</div>