<% provide(:title, 'Home') %>

<div class="jumbotron wrapper">
  <h1>ADK 46-R Tracker</h1>
  <p>Track your progress towards completing the ADK 46-R</p>
  <% if logged_in? %>
    <p><a class="btn btn-primary btn-lg" role="button" href="users/<%=current_user.id%>">View Your Page</a></p>
  <% else %>
    <p><a class="btn btn-primary btn-lg" id="login" role="button" href="/login" data-remote="true">Log-in</a></p>
  <% end %>
</div>