<% provide(:title, "Login") %>

<div class="row">
  <%= render 'form' %>
</div>

<!-- 
<div class="input-group input-group-lg">
  <span class="input-group-addon"><%#= label_tag :password %></span>
  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
</div>
 -->