<div class="panel panel-default col-md-3">
  <div class="panel-body">
     <h3><%= @mountain.name %></h3>
      Rank: <%= @mountain.rank %></br>
      Height: <%= @mountain.height %> ft</br>
  </div>
</div>
